In [1]:
# Import dependencies
import pandas as pd
import numpy as np 
import matplotlib.pyplot as plt

In [32]:
# Import Excel file into data frame
eagleford_df = pd.read_excel("Eagle Ford Data.xlsx")

In [30]:
eagleford_df.columns.tolist()

['API',
 'Longitude',
 'Latitude',
 'Bottomhole longitude',
 'Bottomhole latitude',
 'Well Number',
 'Lease Name',
 'Well Type',
 'Permit Type',
 'Pad',
 'Operator',
 'Operator (Subsidiary)',
 'Operator (Original)',
 'Operator Thematic Group',
 'Operator US Focus',
 'Play',
 'Sub-play',
 'State',
 'County',
 'Region',
 'Basin',
 'Reservoir',
 'Field',
 'Permit Date',
 'Drilling Start Date',
 'Drilling End Date',
 'Completion Date',
 'First Production Date',
 'IP Date',
 'Vertical Depth (m)',
 'Measured Depth (m)',
 'Lateral Length (m)',
 'Drilling Days (days)',
 'Drilling Speed (m/day)',
 'Fracture Stages (stages)',
 'Water (l)',
 'Proppant (kg)',
 'API Gravity (degree)',
 'Well Cost Total (US$)',
 'Rig Cost (US$)',
 'Casing Cost (US$)',
 'Water Cost (US$)',
 'Proppant Cost (US$)',
 'Pumping Cost (US$)',
 'Other Cost (US$)',
 'Cum30 Oil (bbl)',
 'Cum60 Oil (bbl)',
 'Cum90 Oil (bbl)',
 'Cum180 Oil (bbl)',
 'Cum365 Oil (bbl)',
 'Cum30 Gas (mcf)',
 'Cum60 Gas (mcf)',
 'Cum90 Gas (mcf)',
 'Cum180 Gas (mcf)',
 'Cum365 Gas (mcf)',
 'Cum30 Total (boe)',
 'Cum60 Total (boe)',
 'Cum90 Total (boe)',
 'Cum180 Total (boe)',
 'Cum365 Total (boe)',
 'IP Oil (b/d)',
 'IP Gas (mmcfd)',
 'IP Total (boe/d)',
 'EUR Oil (mmbbl)',
 'EUR Gas (bcf)',
 'EUR Total (mmboe)',
 'bi Oil',
 'Di Oil (per month)',
 'Dmin Oil (per year)',
 'bi Gas',
 'Di Gas (per month)',
 'Dmin Gas (per year)']

In [34]:
# Build data frame
data_df = pd.DataFrame({
                       'Sub-play':eagleford_df['Sub-play'],
                       'Well Cost Total (US$)':eagleford_df['Well Cost Total (US$)'],
                       'Cum365 Total (boe)':eagleford_df['Cum365 Total (boe)'],
                       'Vertical Depth (m)':eagleford_df['Vertical Depth (m)'],
                       'Measured Depth (m)':eagleford_df['Measured Depth (m)'],
                       'Lateral Length (m)':eagleford_df['Lateral Length (m)'],
                       })

In [35]:
# Drop rows with missing cumulative data
data_df = data_df.dropna(axis=0,how='any')

In [37]:
# Price of oil today 8/27/2018
oil_price = 68.92
data_df['Cum365 Revenue (US$)'] = data_df['Cum365 Total (boe)']*oil_price

In [38]:
data_df.head()

,Sub-play,Well Cost Total (US$),Cum365 Total (boe),Vertical Depth (m),Measured Depth (m),Lateral Length (m),Cum365 Revenue (US$)
21,Black Oil,7397396.0,20837.0,2332.0,4008.0,1593.0,1436086.04
22,Black Oil,7046343.0,51826.0,2657.0,4069.0,1341.0,3571847.92
23,Black Oil,6313942.0,67468.0,3064.0,5022.0,1860.0,4649894.56
24,Black Oil,5512727.0,20272.0,2377.0,3888.0,1436.0,1397146.24
25,Black Oil,5065798.0,28316.0,3050.0,4432.0,1313.0,1951538.72

In [39]:
# Find wells that broke even at one year of production or less
break_even = (data_df['Cum365 Revenue (US$)'] - data_df['Well Cost Total (US$)']) >= 0

In [40]:
# Add break even column to data_df
data_df['Break Even'] = break_even

In [44]:
data_df['Break Even'].value_counts()

True     8862
False    6860
Name: Break Even, dtype: int64