In [2]:
import pandas as pd
import geopy

In [4]:
#reading file into a dataframe
file = "clean_data.csv"
df = pd.read_csv(file)
df.columns

Index(['API', 'Longitude', 'Latitude', 'Well Type', 'Operator',
       'Operator (Original)', 'Sub-play', 'County', 'First Production Date',
       'Vertical Depth (m)', 'Measured Depth (m)', 'Lateral Length (m)',
       'Drilling Days (days)', 'Drilling Speed (m/day)', 'Proppant (kg)',
       'API Gravity (degree)', 'Well Cost Total (US$)', 'Rig Cost (US$)',
       'Casing Cost (US$)', 'Water Cost (US$)', 'Proppant Cost (US$)',
       'Pumping Cost (US$)', 'Other Cost (US$)', 'Cum180 Oil (bbl)',
       'Cum365 Oil (bbl)', 'Cum180 Gas (mcf)', 'Cum365 Gas (mcf)',
       'Cum365 Total (boe)', 'IP Oil (b/d)', 'IP Gas (mmcfd)',
       'IP Total (boe/d)', 'EUR Oil (mmbbl)', 'EUR Gas (bcf)',
       'EUR Total (mmboe)'],
      dtype='object')

In [138]:
#Overview of Eagle Ford Play
summary = df.groupby(['Sub-play'])['Operator', "API"].nunique()
summary = summary.rename(columns = {"API": "Well count", "Operator": "Operator Count"})
summary

                      Operator Count  Well count
Sub-play
Black Oil                         76        4167
Edwards Condensate                24        2939
Hawkville Condensate              29        2690
Karnes Trough                     30        3644
Maverick Condensate               21        3115
Maverick Oil                      17         146
Northeast Oil                     21         404
Other Eagle Ford                  11          33
Southeast Gas                      5          45
Southwest Gas                     15         696

In [139]:
#Overview of Eagle Ford Play
summary = df.groupby(['Sub-play'])['Operator', "API"].nunique()
summary = summary.rename(columns = {"API": "Well count", "Operator": "Operator Count"})


#Calculating summary statistics for each sub-play

agg = {
    'Well Cost Total (US$)': {'Avg Well cost': 'mean'}, 
    'Rig Cost (US$)': {'Avg Rig Cost (US$)':'mean'}, 
    'EUR Total (mmboe)':{'Avg EUR (mmboe)': 'mean'},
    'Cum365 Gas (mcf)': {'Avg Cum365 Gas (mcf)': 'mean', 'Max Cum365 Gas (mcf)': max},
    'Cum365 Oil (bbl)': {'Avg Cum365 Oil (bbl)': 'mean', 'Max Cum365 Oil (bbl)': max}

}


summary = df.groupby(['Sub-play'])['Operator', "API"].nunique().agg(agg)


# profit_items.columns = profit_items.columns.droplevel()
# profit_items = profit_items.sort_values(ascending=False, by = 'Total Purchase Value')[:5]
# profit_items[['Item price','Total Purchase Value']] = profit_items[['Item price','Total Purchase Value']].applymap('${:,.2f}'.format)
# profit_items
# d = {'Number of unique items': [items], 'Total number of purchases': [purchases], 'Average price': [avr_price], 'Total revenue': [revenue]}
# summary_df = pd.DataFrame(data=d)

# #Adding dollar signs to dollar values 
# summary_df[['Average price', 'Total revenue']] = summary_df[['Average price', 'Total revenue']].applymap('${:,.2f}'.format)
# summary_df

summary
# EAGLEFORD OVERVIEW:
# Visualize:
# 1.	How many sub-plays
# 2.	How many operators 
# 3.	How many wells/operators 

# Descriptive statistics:
# 1.	Avg IP, EUR
# 2.	Avg Development costs 
# 3.	Avg Lateral length
# 4.	Avg proppant

SpecificationError: cannot perform renaming for Well Cost Total (US$) with a nested dictionary

In [ ]:
#Overview of Eagle Ford Play



#Calculating summary statistics for each sub-play

agg = {
    'Well Cost Total (US$)': {'Avg Well cost': 'mean'}, 
    'Rig Cost (US$)': {'Avg Rig Cost (US$)':'mean'}, 
    'EUR Total (mmboe)':{'Avg EUR (mmboe)': 'mean'},
    'Cum365 Gas (mcf)': {'Avg Cum365 Gas (mcf)': 'mean', 'Max Cum365 Gas (mcf)': max},
    'Cum365 Oil (bbl)': {'Avg Cum365 Oil (bbl)': 'mean', 'Max Cum365 Oil (bbl)': max}

}


summary_1 = df.groupby(['Sub-play']).agg(agg)
summary_1.columns = summary_1.columns.droplevel()
summary_1

In [140]:
summary_final = pd.merge(summary, summary_1, on= "Sub-play")
summary_final

,Operator Count,Well count,Avg Well cost,Avg Rig Cost (US$),Avg EUR (mmboe),Avg Cum365 Gas (mcf),Max Cum365 Gas (mcf),Avg Cum365 Oil (bbl),Max Cum365 Oil (bbl)
Sub-play,,,,,,,,,
Black Oil,76,4167,6.616557e+06,571394.653952,0.303541,71940.216188,631180.0,71968.992428,457540.0
Edwards Condensate,24,2939,7.352757e+06,787762.745528,0.528737,491961.127064,5670010.0,102136.813352,954071.0
Hawkville Condensate,29,2690,7.286108e+06,684179.590484,0.378131,234708.285273,3355674.0,62014.647468,481699.0
Karnes Trough,30,3644,7.205512e+06,649498.131925,0.437968,164809.770368,2157301.0,113501.175123,915021.0
Maverick Condensate,21,3115,6.653161e+06,679298.460690,0.616124,538671.729564,3743322.0,47548.895095,522446.0
Maverick Oil,17,146,6.445103e+06,517461.491525,0.182250,45906.956835,313667.0,30959.719424,147557.0
Northeast Oil,21,404,7.574177e+06,734220.834437,0.220791,61836.686649,924010.0,44678.446866,181615.0
Other Eagle Ford,11,33,7.049543e+06,669418.870944,0.160435,28213.848485,193871.0,39411.545455,94201.0
Southeast Gas,5,45,7.884221e+06,972062.909091,0.623721,985148.333333,2457807.0,5387.577778,26339.0
Southwest Gas,15,696,8.171592e+06,734317.358885,0.724411,998978.239567,3910724.0,20734.629057,168701.0

In [143]:
subplay_df = df.groupby(["Sub-play"])['Operator'].nunique()
subplay_df

Sub-play
Black Oil               76
Edwards Condensate      24
Hawkville Condensate    29
Karnes Trough           30
Maverick Condensate     21
Maverick Oil            17
Northeast Oil           21
Other Eagle Ford        11
Southeast Gas            5
Southwest Gas           15
Name: Operator, dtype: int64

In [1]:
from mpl_toolkits.basemap import Basemap
from geopy.geocoders import Nominatim

well_list = list(df["API"].unique())
wells = well_list
scale = 1

map = Basemap(width=10000000,height=6000000,projection='lcc',
            resolution=None,lat_1=45.,lat_2=55,lat_0=50,lon_0=-107.)
plt.figure(figsize=(19,20))
map.bluemarble()


# Get the location of each well and plot it
geolocator = Nominatim()
for well in wells:
        loc = geolocator.geocode(well)
        if not loc:
            print("Could not locate {}".format(well))
            continue
        x, y = map(loc.longitude, loc.latitude)
        map.plot(x,y,marker='o',color='Red',markersize=5)
        plt.annotate(well, xy = (x,y), xytext=(-20,20))
plt.show()

ModuleNotFoundError: No module named 'mpl_toolkits.basemap'

In [9]:
g = {'Item ID': {'Purchase Count':'count'}, 'Price':{'Average purchase price': 'mean','Total Purchase Value':'sum'}}
top_spenders = data.groupby('SN')['Price'].agg(g)
top_spenders.columns = top_spenders.columns.droplevel()
top_spenders = top_spenders.sort_values(ascending=False, by = 'Total Purchase Value')[:5]
top_spenders[['Average purchase price','Total Purchase Value']] = top_spenders[['Average purchase price','Total Purchase Value']].applymap('${:,.2f}'.format)
top_spenders

operator_summary = df.groupby('Operator')['EUR Total (mmboe)'].sum()
operator_summary = operator_summary

Operator
1776 Energy Operators          13.587904
1836 Resources                  0.628541
31 Operating                    0.596000
Abraxas                         3.325541
Acock Operating                 0.117000
Ageron Energy                   1.313000
Alms Energy                     0.009000
Anadarko                       67.848681
Apache                         16.756326
Argent Energy                   0.422000
Armor Lonestar                  5.046791
Atlas Eagle Ford Operating     13.841000
BBX Operating                   0.269000
BHP Billiton                  260.612411
BRC Operating                   0.963541
BXP Operating                   1.784000
BlackBrush Oil & Gas            2.365572
Buffco Production               6.617000
CL & F Operating                1.190000
CM TX Production                0.093000
CML Exploration                 0.939332
Cabot Oil & Gas                53.903246
Caliente Oil                    1.692000
Carrizo Oil & Gas             158.663725
Centex Energy                   0.068000
Chesapeake Energy             791.322795
Cheyenne                       24.038329
Cinco Oil & Gas                 4.366000
Cinco Resources                 0.664541
Cleantex Oilfield Services      0.014000
                                 ...
Sabine Oil & Gas               21.325541
San Isidro Development          0.090000
Sanchez Energy Corporation    168.781295
Sanchez Oil & Gas             727.971800
Sea Eagle Ford                 34.792456
Seguro Well Service             0.117000
Sharon Hunter Resources         0.101000
Shell                           0.323000
Sierra Resources                2.493822
SilverBow Resources           145.005870
Slawson Exploration             0.010000
Statoil                       180.670987
Stonegate Production           27.178246
Story NRG                       0.123000
Strand Energy                   1.150000
Teal Operating                 25.182737
Texas American Resources        4.665788
Texas Presco                    0.288000
Tidal Petroleum                 3.382000
Traton Operating                0.265000
Tri-Force Exploration           0.001000
Trinity Operating               7.980657
U.S. Enercorp                   0.182250
US Energy Development           4.704000
Valence Operating               5.120541
Verdun Oil & Gas               39.407598
Vess Oil                        2.106000
Virtex Operating                4.792705
Weber Energy                    0.052000
ZaZa Energy                     0.384000
Name: EUR Total (mmboe), Length: 131, dtype: float64